#!/bin/sh
#set -ue

{{ template "helpers.tmpl" . }}

setup_interfaces() {
  sysrc ipv6_activate_all_interfaces="YES"
  sysrc ipv6_defaultrouter="fe80::1%${INTERFACE}"
  sysrc cloned_interfaces="bridge0"
  sysrc ifconfig_bridge0="inet 192.168.10.1 netmask 255.255.255.0"
  sysrc gateway_enable="YES"
  sysrc ipv6_gateway_enable="YES"
}

setup_services() {
  sysrc clear_tmp_enable="YES"
  sysrc syslogd_flags="-ss"
  sysrc sendmail_enable="NO"
  sysrc sshd_enable="YES"
  sysrc sshd_flags="-o PermitRootLogin=without-password -o PasswordAuthentication=no"
  sysrc ntpdate_enable="YES"
  sysrc ntpd_enable="YES"
  sysrc powerd_enable="YES"
  sysrc dumpdev="AUTO"
  sysrc zfs_enable="YES"
  sysrc microcode_update_enable="YES"
  sysrc gitwatch_enable="YES"
  # sysrc gitwatch_targets="/usr/local/etc/icinga2"
  sysrc jail_enable="YES"
  sysrc jail_list=""
  sysrc smartd_enable="YES"
}

setup_update() {
  freebsd-update fetch install
}

setup_ssh() {
  $MKDIR /root/.ssh
  echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFUP46mf4PBXmvHtgqAkJM6yK+joqr0ByVFD0NwtxZQQ bofh@bounce-experts" > /root/.ssh/authorized_keys
  grep "thorny@kara" /root/.ssh/authorized_keys || echo "ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBA2+Gd5zEzkkg6sbp0zvKIH8CCb/fkyqsQ8iuhlwU7OZIO+iU/yWKMClk9x3D3oDSKIJUHYbePZ5Pq1r1JtKj7Q= thorny@kara" >> /root/.ssh/authorized_keys
}

setup_sudo() {
  sed -i.bak 's|# %wheel ALL=(ALL) NOPASSWD: ALL|%wheel ALL=(ALL) NOPASSWD: ALL|g' /usr/local/etc/sudoers
}

setup_shell() {
  chsh -s /usr/local/bin/zsh toor
}

setup_hostsfile() {
  sed -i '' -e 's/localhost.my.domain/localhost.bounce-commerce.de/g' /etc/hosts
}

setup_mailer() {
  [ ! -f /etc/mail/certs/dh.param ] && openssl dhparam -out /etc/mail/certs/dh.param 4096
  sed -i '' -e '/my.domain/s/^.*/root: sysadmin@bounce-commerce.de/g' /etc/mail/aliases
  newaliases
  service sendmail restart
}

main() {
  setup_interfaces
  setup_services
  setup_ssh
  setup_shell
  setup_hostsfile
  setup_mailer
  setup_update
}

main "$@"

# vim: ft=sh:
