#!/bin/sh
#set -ue

{{ template "helpers.tmpl" . }}

###############################################################################
########################Bootstrap pkg ########################################
###############################################################################
$MKDIR /usr/local/etc/pkg/repos
$CAT /etc/pkg/FreeBSD.conf | sed -e 's/quarterly/quarterly/g; s/yes/no/g' >> /usr/local/etc/pkg/repos/FreeBSD.conf
$CAT <<EOF > /usr/local/etc/pkg/repos/infrastructure.conf
infrastructure: {
	url: "http://pkg.bounce-experts.com/\${ABI}/infrastructure",
	enabled: yes,
	priority: 10
}
EOF
env ASSUME_ALWAYS_YES=yes pkg bootstrap -f
pkg update -f
pkg delete -afyq

###############################################################################
########################Install the_silver_searcher  ##########################
###############################################################################
if [ -z "$AG_BIN" ]; then
$PKG_CMD $AG_PKG
fi
###############################################################################
##############################Install bash ###################################
###############################################################################
if [ -z "$BASH_BIN" ]; then
$PKG_CMD $BASH_PKG
fi
###############################################################################
##############################Install bat #####################################
###############################################################################
if [ -z "$BAT_BIN" ]; then
$PKG_CMD $BAT_PKG
fi
###############################################################################
##############################Install fzf #####################################
###############################################################################
if [ -z "$FZF_BIN" ]; then
$PKG_CMD $FZF_PKG
fi
###############################################################################
################################Install git  ##################################
###############################################################################
if [ -z "$GIT_BIN" ]; then
$PKG_CMD $GIT_PKG
fi
###############################################################################
################################Install htop  #################################
###############################################################################
if [ -z "$HTOP_BIN" ]; then
$PKG_CMD $HTOP_PKG
fi
###############################################################################
################################Install screen ###############################
###############################################################################
if [ -z "$SCREEN_BIN" ]; then
$PKG_CMD $SCREEN_PKG
fi
###############################################################################
################################Install sudo #################################
###############################################################################
if [ -z "$SUDO_BIN" ]; then
$PKG_CMD $SUDO_PKG
fi
###############################################################################
################################Install tmux  #################################
###############################################################################
if [ -z "$TMUX_BIN" ]; then
$PKG_CMD $TMUX_PKG
fi
###############################################################################
################################Install vim  ##################################
###############################################################################
if [ -z "$VIM_BIN" ]; then
$PKG_CMD $VIM_PKG
fi
###############################################################################
################################Install zsh  ##################################
###############################################################################
if [ -z "$ZSH_BIN" ]; then
$PKG_CMD $ZSH_PKG
fi
# vim: ft=sh:
