#!/bin/sh
#set -ue

{{ template "helpers.tmpl" . }}
###############################################################################
##############################Compile fortune #################################
###############################################################################
if [ -n "$FORTUNE_BIN" ]; then
    if [ -n "$STRFILE_BIN" ]; then
      $STRFILE_BIN $HOME/.local/share/fortunes/bofh
    fi
fi
# vim: ft=sh:
